@model HotelApplication.Models.Prenotazione

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Prenotazione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="/prenotazioni/modifica" asp-action="Edit" method="post">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PrenotazioneId" />
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CameraId" class="control-label"></label>
                <select asp-for="CameraId" class="form-control" asp-items="ViewBag.CameraId"></select>
                <span asp-validation-for="CameraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInizio" class="control-label"></label>
                <input asp-for="DataInizio" class="form-control" />
                <span asp-validation-for="DataInizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFine" class="control-label"></label>
                <input asp-for="DataFine" class="form-control" />
                <span asp-validation-for="DataFine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label text-white">Disponibile</label>
                <div class="form-check">
                    <input asp-for="StatoDisponibile" class="form-check-input" type="checkbox" /> @Html.DisplayNameFor(model => model.StatoDisponibile)
                    <label class="form-check-label text-white" asp-for="StatoDisponibile">Sì</label>
                </div>
                <span asp-validation-for="StatoDisponibile" class="text-danger"></span>
            </div> 
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Fumatore" /> @Html.DisplayNameFor(model => model.Fumatore)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ImportoTotale" class="control-label"></label>
                <input asp-for="ImportoTotale" class="form-control" />
                <span asp-validation-for="ImportoTotale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DipendenteId" class="control-label"></label>
                <select asp-for="DipendenteId" class="form-control" asp-items="ViewBag.DipendenteId"></select>
                <span asp-validation-for="DipendenteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
