@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Gestione Prenotazioni</h5>
                    <p class="card-text">Accedi al modulo per gestire le prenotazioni dei clienti.</p>
                    <a href="/Prenotazioni" class="btn btn-primary">Vai</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Gestione Amministrativa</h5>
                    <p class="card-text">Monitoraggio pagamenti e percentuale incassi.</p>
                    <a href="/Amministrazione" class="btn btn-primary">Vai</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Gestione Account</h5>
                    <p class="card-text">Gestisci gli account e i ruoli dei dipendenti.</p>
                    <a href="/Account" class="btn btn-primary">Vai</a>
                </div>
            </div>
        </div>
    </div>
</div>